{{#if user}}
<div class="body-container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="hero-title">¡Aloha, <br>{{user.username}}!</h2>
      <h2 class="hero-subtitle">Revisa tus locales y reservas</h2>
      <h2 class="hero-arrow-phone mdi mdi-arrow-down"></h2>
      <h2 class="hero-arrow-desktop mdi mdi-arrow-down"></h2>
    </div>
    <div class="col-md-6">
      <a href="/profile/create-local" class="btn-kokomo btn-kokomo-success"><i class="fas fa-plus-circle"></i>
        Crear un nuevo
        local</a>
      <a href="/profile/edit" class="btn-kokomo btn-kokomo-grey"><i class="fas fa-user-cog"></i> Configuración</a>
      <a href="/logout" class="btn-kokomo btn-kokomo-grey"><i class="mdi mdi-logout-variant"></i>
        Cerrar sesión</a>
    </div>
  </div>
  
  <div>
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-property-bookings-tab" data-toggle="tab"
          href="#nav-property-bookings" role="tab" aria-controls="nav-property-bookings" aria-selected="true">Reservas
          en tus locales</a>
        <a class="nav-item nav-link" id="nav-own-bookings-tab" data-toggle="tab" href="#nav-own-bookings" role="tab"
          aria-controls="nav-own-bookings" aria-selected="false">Tus reservas</a>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-property-bookings" role="tabpanel"
        aria-labelledby="nav-property-bookings-tab">

      </div>
      <div class="tab-pane fade" id="nav-own-bookings" role="tabpanel" aria-labelledby="nav-own-bookings-tab">
        {{#if user.bookings}}
        {{#each user.bookings}}
        <div class="div-booking">
          <div>
            <p>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x orange-20"></i>
                <i class="far fa-calendar-check fa-stack-1x orange"></i>
              </span>
              {{day}}
            </p>
            <p>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x orange-20"></i>
                <i class="far fa-clock fa-stack-1x orange"></i>
              </span>
              {{time}}
            </p>
            <p>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x orange-20"></i>
                <i class="fas fa-users fa-stack-1x orange"></i>
              </span>
              {{guests}} personas
            </p>
            <p>
              <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x orange-20"></i>
                <i class="fas fa-map-marker-alt fa-stack-1x orange"></i>
              </span>
              {{property}}
            </p>
          </div>
          <div>
            <p class="mb-4 text-right"><span class="booking-ref">{{bookingRef}}</span></p>

            <a href="/booking/delete/{{bookingRef}}" class="btn-kokomo btn-kokomo-grey float-right">Cancelar reserva</a>
          </div>

        </div>
        {{/each}}
        {{else}}
        <p>Todavía no tienes reservas</p>
        {{/if}}
      </div>

    </div>
   
  </div>
</div>


{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}