{{#if user}}
<div class="home-bg image-background" style="
    background-image: url(/images/water.jpg);">

  <div class="container-left">

    <h2 class="display-cream"><i class="fas fa-umbrella-beach fa-sm cream"></i><br> ¡Aloha, <br>{{user.username}}!</h2>
  </div>

  <div class="white-card">
    <div>
      <a href="/profile/create-local" class="btn-kokomo btn-kokomo-success mb-4"><i class="fas fa-plus-circle"></i>
        Crear un nuevo
        local</a>
      <a href="/profile/edit" class="btn-kokomo btn-kokomo-grey mb-4"><i class="fas fa-user-cog"></i> Configuración</a>
    </div>

    <h3 class="section-title"><i class="fa fa-map-marker fa-sm" aria-hidden="true"></i> Tus Locales</h3>

    {{#if user.ownProperties}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        {{#each user.ownProperties}}
        <tr>
          <td>{{name}}</td>
          <td>
            <a href="owner/property/{{id}}" class="btn btn-success"><i class="fa fa-book mr-2"></i>Ver Reservas</a>
          </td>
          <td>
          <td>
            <a href="/local/{{id}}" class="btn btn-primary"><i class="far fa-eye mr-2"></i>Ver Local</a>
          </td>
          <td>
            <a href="/booking/delete/{{bookingRef}}" class="btn btn-info"><i class="fa fa-pencil mr-2"
                ></i> Modificar Local</a>
          </td>
          <td>
            <a href="/booking/delete/{{bookingRef}}" class="btn btn-warning"><i
                class="far fa-trash-alt mr-2"></i>Eliminar Local</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>Todavía no tienes locales</p>
    {{/if}}

    <h3 class="section-title"><i class="far fa-calendar-alt fa-sm blue"></i> Tus Reservas</h3>

    {{#if user.bookings}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código de Reserva</th>
          <th scope="col">Detalles</th>
          <th scope="col">¿Dónde?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each user.bookings}}
        <tr>
          <td>{{bookingRef}}</td>
          <td>
            <i class="far fa-calendar-check"></i> {{day}} <br>
            <i class="far fa-clock"></i> {{time}} <br>
            <i class="fas fa-users"></i> {{guests}} personas
          </td>
          <td>{{property}}</td>
          <td>
            <a href="/booking/delete/{{bookingRef}}" class="btn btn-warning"><i
                class="far fa-trash-alt mr-2"></i>Cancelar reserva</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>Todavía no tienes reservas</p>
    {{/if}}

    <h3 class="section-title mt-4"><i class="fas fa-heart fa-sm blue"></i> Tus favoritos</h3>
    <p>Todavía no tienes favoritos</p>
  </div>
</div>

{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}