{{#if user}}
<div class="body-container">


  <div>
    <h3 class="section-title mdi mdi-account-circle">Tu perfil</h3>

    <div class="row mb-5">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <a href="/profile/create-local" class="btn-kokomo btn-kokomo-success"><i class="fas fa-plus-circle"></i>
          Crear un nuevo
          local</a>
        <a href="/profile/edit" class="btn-kokomo btn-kokomo-grey"><i class="fas fa-user-cog"></i> Configuración</a>
        <a href="/logout" class="btn-kokomo btn-kokomo-grey"><i class="mdi mdi-logout-variant"></i>
          Cerrar sesión</a>
      </div>
    </div>

    <h4 class="section-title"><i class="fa fa-map-marker fa-sm" aria-hidden="true"></i> Tus Locales</h4>

    {{#if user.ownProperties}}
    <div class="group-booking">
      {{#each user.ownProperties}}
      <div class="div-booking">
        <div class="column-xl">
          <p>
            <span class="fa-stack fa-lg">
              <i class="fas fa-square fa-stack-2x orange-20"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x orange"></i>
            </span>
            {{name}}
          </p>
        </div>
        <div class="column-xl">
          <a href="owner/property/{{id}}" class="btn-kokomo btn-kokomo-success"><i class="fa fa-book mr-2"></i>Ver
            Reservas</a>
        </div>

        <div class="column-xs">

        </div>
        <div class="column-xs">

          <div class="dropdown dropleft float-right">
            <button class="btn-kokomo btn-kokomo-grey" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="
                      padding: 10px 19px;
                      border-radius: 100%;
                  ">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/local/{{id}}"><i class="mdi mdi-eye"></i> Ver local</a>
              <a class="dropdown-item" href="/local/edit/{{id}}"><i class="mdi mdi-pencil"></i> Editar local</a>
              <div class="dropdown-divider"></div>
              <a class="danger ml-4" href="/local/delete/{{id}}"><i class="far fa-trash-alt"></i> Eliminar local</a>
            </div>
          </div>
        </div>


      </div>
      {{/each}}
    </div>
    {{else}}
    <p>Todavía no tienes locales</p>
    {{/if}}

  </div>
</div>


{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}