<div class="container text-center d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div>
        <h2 class="heading-font orange"><i class="fas fa-glass-cheers fa-sm cream"></i><br> ¡Yuhu, {{user.username}}!
        </h2>

        <h1 class="mb-4">Reserva creada con éxito 🥳</h1>
        <p><i class="far fa-calendar-alt"></i> Día: {{booking.day}}</p>
        <p><i class="far fa-clock"></i> Hora: {{booking.time}}</p>
        <p><i class="fas fa-users"></i> Número de personas: {{booking.guests}}</p>
        <a href="/" class="btn-kokomo btn-kokomo-grey mt-4 p-3">Volver a inicio</a>
        <a href="whatsapp://send?text=¡Te espera una reserva de Kokomo! 😎 Aquí tienes los detalles: http://kokomo-app.herokuapp.com/booking/details/{{booking._id}}"
            class="btn-kokomo btn-kokomo-grey mt-4 p-3">Compartir reserva por WhatsApp</a>
    </div>

</div>