<div class="home-bg">
    <div class="container-left image-background" style="
    background-image: url({{property.mainImage}})">
    </div>

    <div class="white-card">
        <div class="title-heart">
            <div>
                <span class="fa-stack fa-2x mr-4">
                    <i class="fas fa-circle fa-stack-2x orange"></i>
                    <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <h2 class="title-search">{{property.name}}</h2>
                <h3 class="subtitle-search mb-4">{{property.description}}</h3>
            </div>
        </div>

        <p><i class="fas fa-map-marker-alt"></i> {{property.location.name}}
        <p>

        <p>Duración de la reserva: {{property.bookingDuration}}</p>
        <p>Plazas disponibles: {{property.availablePlaces}}</p>

        <form action="/local/{{property._id}}" method="POST" class="mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bookingDate" class="label active">¿Qué día quieres venir?</label>
                        <input type="date" name="bookingDate" data-date-format="DD MMMM YYYY" id="" value="{{newDate}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numberGuests" class="label active">¿Cuántos seréis?</label>
                        <input type="number" name="numberGuests" id="" min="1" class="kokomo-input" value="{{newGuests}}">
                    </div>
                </div>
            </div>
            
            <input type="submit" value="Ver disponibilidad" class="kokomo-btn-form p-3">
        </form>

        <h3 class="mt-4 mb-4 section-title">Horas disponibles</h3>
        <div class="row">
            {{#if schedule}}
            {{#each schedule}}
            <div class="col-auto mb-3">
                <form action="/booking/{{this._id}}" method="POST">
                    <input type="hidden" name="propertyId" value="{{../property._id}}">
                    <input type="hidden" name="day"  value="{{this.day}}">
                    <input type="hidden" name="guests" value="{{../guests}}">
                    <input type="submit" class="kokomo-hours" value="{{this.startTime}}">
                </form>

            </div>
            {{/each}}
            {{else}}
            <p>¡Ups! 😅 No hay reservas disponibles para este día.</p>
            {{/if}}
        </div>
    </div>
</div>