<div class="home-bg image-background" style="
    background-image: url({{property.mainImage}})">
    <div class="container-left">

    </div>

    <div class="white-card">
        <div class="title-heart">
            <div>
                <span class="fa-stack fa-2x mr-4">
                    <i class="fas fa-circle fa-stack-2x orange"></i>
                    <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <h2 class="title-search">{{property.name}}</h2>

            </div>
        </div>
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description"
                    role="tab" aria-controls="nav-description" aria-selected="true">Descripción</a>
                <a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab"
                    aria-controls="nav-comments" aria-selected="false">Comentarios</a>
                <a class="nav-item nav-link" id="nav-openings-tab" data-toggle="tab" href="#nav-openings" role="tab"
                    aria-controls="nav-openings" aria-selected="false">Horarios</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                aria-labelledby="nav-description-tab">
                <h3 class="subtitle-search mb-4">{{property.description}}</h3>
                <p><i class="fas fa-map-marker-alt"></i> {{property.location.name}}
                </p>

                <p>Duración de la reserva: {{property.bookingDuration}}</p>
                <p>Plazas disponibles: {{property.availablePlaces}}</p>
            </div>
            <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">...</div>
            <div class="tab-pane fade" id="nav-openings" role="tabpanel" aria-labelledby="nav-openings-tab">
                <h3 class="subtitle-search mb-4">Días de apertura</h3>
                {{#each property.openingHours}}
                <p>Día de apertura: <span id="openingDay1">{{openingDays.openingDay}}</span></p>

                <p>Día de cierre: <span id="closingDay1">{{openingDays.closingDay}}</span></p>

                <p>Días de la semana: {{weekDays}}</p>
                {{#each opening_times}}
                <p>Hora de apertura: {{openingTime}}</p>
                <p>Hora de cierre: {{closingTime}}</p>
                {{/each}}
                {{/each}}
            </div>
        </div>


        {{#if user}}
        <form action="/local/{{property._id}}" method="POST" class="mt-4">
            <div class="display-form mb-3">
                <div>
                    <input type="date" name="bookingDate" data-date-format="DD MMMM YYYY" id="" class="kokomo-input">
                </div>
                <div>
                    <input type="number" name="numberGuests" id="" min="0" class="kokomo-input" placeholder="Personas">
                </div>
            </div>
            <input type="submit" value="Ver disponibilidad" class="kokomo-btn-form">
        </form>
        {{else}}
        <div class="mt-4 border-top">
            <p>Necesitas una cuenta para poder hacer reservas.</p>
            <a href="/signup" class="btn btn-success mt-3">Regístrate ahora</a>
        </div>

        {{/if}}
    </div>
</div>