<div class="home-bg">
    <div class="container-left image-background" style="
    background-image: url({{property.mainImage}})">

    </div>

    <div class="white-card">
        <div class="title-heart">
            <a href="/property/love/{{property._id}}" class="text-right">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x orange"></i>
                    <i
                        class=" {{#if user}} {{#ifCond user.favourites "includes" property._id}} fas {{else}} far {{/ifCond}} {{else}} far {{/if}} fa-heart fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <div>
                <h2 class="title-search">{{property.name}}</h2>

            </div>
        </div>
        <div style="max-height: 50vh; overflow: scroll;">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab"
                        href="#nav-description" role="tab" aria-controls="nav-description"
                        aria-selected="true">Descripción</a>
                    <a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab"
                        aria-controls="nav-comments" aria-selected="false">Comentarios</a>
                    <a class="nav-item nav-link" id="nav-openings-tab" data-toggle="tab" href="#nav-openings" role="tab"
                        aria-controls="nav-openings" aria-selected="false">Horarios</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                    aria-labelledby="nav-description-tab">
                    <h3 class="subtitle-search mb-4">{{property.description}}</h3>
                    <p><i class="fas fa-map-marker-alt"></i> {{property.location.name}}
                    </p>

                    <p>Duración de la reserva: {{property.bookingDuration}}</p>
                    <p>Plazas disponibles: {{property.availablePlaces}}</p>
                    {{#each property.categories}}
                    <br>
                    <a href="/category/{{this}}" class="kokomo-hours text-center text-uppercase mt-4 p-2">{{this}}</a>
                    {{/each}}
                </div>
                <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/add-comment/{{property._id}}" method="POST">
                                <input type="hidden" name="userId" value="{{../user.username}}">
                                <div class="form-group">
                                    <label for="comment" class="label active">Deja tu comentario</label>
                                    <textarea name="comment" cols="30" rows="3"></textarea>
                                </div>

                                <input type="submit" value="Enviar" class="btn-kokomo btn-kokomo-grey btn-block">
                            </form>
                        </div>
                        <div class="col-md-6">
                            {{#each property.comments}}
                            <div class="border-bottom pb-4 pt-4">
                                <h5><i class="fas fa-user-circle"></i> {{username}}</h5>
                                <p><i class="far fa-comment-dots"></i> {{comment}}</p>
                            </div>

                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-openings" role="tabpanel" aria-labelledby="nav-openings-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Este local está abierto en estas fechas:</p>
                            <p>{{openingDay}} - {{closingDay}}</p>
                        </div>
                        <div class="col-md-6">
                            {{#each property.openingHours}}

                            <table class="table">
                                <tbody>
                                    {{#each ../weekDays}}
                                    <tr>
                                        <td>
                                            <p>{{this}}</p>
                                        </td>
                                        <td>
                                            <p>{{../../openingTime}}:00 - {{../../closingTime}}:00</p>
                                        </td>

                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                            {{/each}}
                        </div>
                    </div>


                </div>
            </div>

        </div>

        {{#if user}}
        <form action="/local/{{property._id}}" method="POST" class="mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bookingDate" class="label active">¿Qué día quieres venir?</label>
                        <input type="date" name="bookingDate" data-date-format="DD MMMM YYYY" id="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numberGuests" class="label active">¿Cuántos seréis?</label>
                        <input type="number" name="numberGuests" id="" min="1" class="kokomo-input">
                    </div>
                </div>
            </div>

            <input type="submit" value="Ver disponibilidad" class="kokomo-btn-form p-3">
        </form>
        {{else}}
        <div class="mt-4 border-top">
            <p>Necesitas una cuenta para poder hacer reservas.</p>
            <a href="/signup" class="btn btn-success mt-3">Regístrate ahora</a>
        </div>

        {{/if}}

    </div>
</div>