<div class="home-bg">
    <div class="hero body-container">
        <h2 class="hero-title">Hey, {{user.username}}</h2>
        <h2 class="hero-subtitle">Reserva en los mejores<br>locales de tu zona</h2>
        <h2 class="hero-arrow-phone mdi mdi-arrow-down"></h2>
        <h2 class="hero-arrow-desktop mdi mdi-arrow-right"></h2>
    </div>

    <div class="white-card-home">
        <h2 class="title-search-home">Nuestros chiringuitos</h2>
        <div class="properties-group">
            {{#each properties}}
            <a href="/local/{{_id}}">
                <div class="property-card">
                    <span class="fa-stack fa-2x float-right heart-home">
                        <i class="fas fa-circle fa-stack-2x orange-80"></i>
                        <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <img src="{{mainImage}}" style="z-index: 1;">
                    <img src="{{mainImage}}" style="position:relative; top: -60vw; z-index: -1; filter:blur(10px); opacity: .5; margin-bottom: -60vw">


                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>