<div class="hero-landing" style="padding: 50px 10px;">
    <div class="home-container">
        <h2 class="hero-title" style="color: white">Este verano<br>
            no te quedes sin planes</h2>
        <h2 class="hero-subtitle" style="color: #d0dde2">Reserva en los mejores<br>locales de tu zona</h2>
        <h2 class="hero-arrow-phone mdi mdi-arrow-down"></h2>
        <h2 class="hero-arrow-desktop mdi mdi-arrow-down"></h2>
    </div>
</div>
<div class="bg-landing">
    <div class="container">
        <h2 class="title-landing text-center">Reserva en un segundo</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="shadow-blue">
                    <img src="/images/1.png" class="emoji-img">
                    <h2 class="subtitle-landing">Encuentra los mejores locales</h2>
                    <p>Filtra los locales por día o por categoría para encontrar el ideal</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-blue">
                    <img src="/images/2.png" class="emoji-img">
                    <h2 class="subtitle-landing">Crea tu reserva</h2>
                    <p>Reserva rápidamente desde Kokomo en tus locales favoritos</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shadow-blue">
                    <img src="/images/3.png" class="emoji-img">
                    <h2 class="subtitle-landing">Compártela con tus amigos</h2>
                    <p>Comparte los detalles de la reserva con quien quieras</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-group" style="margin: auto">
    <div class="one-category">
        <a href="/category/Surfer">
            <div class="img-container">
                <img src="/images/surf.png" alt="Surfer">
            </div>
            <p>Surfer</p>
        </a>
    </div>
    <div class="one-category">
        <a href="/category/Chillout">
            <div class="img-container">
                <img src="/images/chillout.png" alt="Chillout">
            </div>
            <p>Chillout</p>
        </a>
    </div>
    <div class="one-category">
        <a href="/category/Discoteca">
            <div class="img-container">
                <img src="/images/disco.png" alt="Disco">
            </div>
            <p>Disco</p>
        </a>
    </div>
    <div class="one-category">
        <a href="/category/Bar">
            <div class="img-container">
                <img src="/images/bar.png" alt="Bar">
            </div>
            <p>Bar</p>
        </a>
    </div>
    <div class="one-category">
        <a href="/category/Restaurante">
            <div class="img-container">
                <img src="/images/restaurant.png" alt="Bar">
            </div>
            <p>Restaurant</p>
        </a>
    </div>
</div>
<div class="landing-container" style="padding-bottom: 80px">

    <div class="">
        <h2 class="title-search-home">Nuestros chiringuitos</h2>
        <div class="properties-group">
            {{#each properties}}
            <a href="/property/{{_id}}">
                <div class="property-card">
                    <span class="fa-stack fa-2x float-right heart-home">
                        <i class="fas fa-circle fa-stack-2x orange-80"></i>
                        <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <img src="{{mainImage}}" style="z-index: 1;">
                    <img src="{{mainImage}}" class="blur-image">


                    <h3>{{name}}</h3>
                    <p class="mdi mdi-map-marker-radius"> {{location.name}}</p>
                </div>
            </a>
            {{/each}}
        </div>

        <div class="banner-orange">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="hero-title" style="color: white">¿Tienes un local?</h2>
                    <h2 class="hero-subtitle" style="color: white">Registra tus locales y consigue reservas de tus clientes</h2>
                </div>
                <div class="col-md-6">
                    <a href="/signup-local" class="btn-kokomo btn-kokomo-white float-right p-2 mt-4">Crea tu cuenta</a>
                </div>
            </div>

        </div>

        <h2 class="title-search-home mt-4">Estilo chillout</h2>
        <div class="properties-group">
            {{#each properties}}
            {{#ifCond categories "includes" "Chillout"}}
            <a href="/property/{{_id}}">
                <div class="property-card">
                    <span class="fa-stack fa-2x float-right heart-home">
                        <i class="fas fa-circle fa-stack-2x orange-80"></i>
                        <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <img src="{{mainImage}}" style="z-index: 1;">
                    <img src="{{mainImage}}" class="blur-image">


                    <h3>{{name}}</h3>
                    <p class="mdi mdi-map-marker-radius"> {{location.name}}</p>
                </div>
            </a>
            {{/ifCond}}
            {{/each}}
        </div>

        <h2 class="title-search-home mt-4">Los mejores restaurantes</h2>
        <div class="properties-group">
            {{#each properties}}
            {{#ifCond categories "includes" "Restaurante"}}
            <a href="/property/{{_id}}">
                <div class="property-card">
                    <span class="fa-stack fa-2x float-right heart-home">
                        <i class="fas fa-circle fa-stack-2x orange-80"></i>
                        <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <img src="{{mainImage}}" style="z-index: 1;">
                    <img src="{{mainImage}}" class="blur-image">


                    <h3>{{name}}</h3>
                    <p class="mdi mdi-map-marker-radius"> {{location.name}}</p>
                </div>
            </a>
            {{/ifCond}}
            {{/each}}
        </div>
    </div>
</div>
<div class="footer">
    <p>Made in Barcelona | <a href="https://github.com/natalia-nly" target="_blank">Natalia</a> & <a href="https://github.com/CSS1982" target="_blank">Claudi</a></p>
</div>