<div class="body-container">
   <h3 class="mt-4 mb-4 section-title">Resultados de tu búsqueda</h3>
  {{#if schedule}}
  <div class="properties-group-2">
    {{#each schedule}}
    <div class="one-property">
      <a href="/property/{{property._id}}">
        <div class="property-card">
          <span class="fa-stack fa-2x float-right heart-home">
            <i class="fas fa-circle fa-stack-2x orange-80"></i>
            <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
          </span>
          <div>
            <img src="{{property.mainImage}}" style="z-index: 1;">
            <img src="{{property.mainImage}}" class="blur-image">

          </div>

        </div>
      </a>
      <div class="ml-4">
        <h3>{{property.name}}</h3>
        <p class="mdi mdi-map-marker-radius"> {{property.location.name}}</p>
        <h3 class="mt-4 mb-4 section-title">Horas disponibles</h3>
        <div class="row">
          {{#each timeboxes}}
          <div class="col-auto mb-3">
            <form action="/booking/{{this._id}}" method="POST">
              <input type="hidden" name="propertyId" value="{{../property._id}}">
              <input type="hidden" name="day" value="{{day}}">
              <input type="hidden" name="guests" value="{{../guests}}">
              <input type="submit" class="kokomo-hours" value="{{startTime}}">
            </form>

          </div>
          {{/each}}
        </div>
      </div>
    </div>


    {{/each}}
  </div>
</div>
{{else}}
<p>¡Ups! 😅 No hay reservas disponibles para este día.</p>
{{/if}}