{{#if user}}
<div class="home-bg image-background" style="
    background-image: url(/images/water.jpg);">

    <div class="container-left">

        <h2 class="display-cream"><i class="fas fa-umbrella-beach fa-sm cream"></i><br> ¡Aloha, <br>{{user.username}}!</h2>
    </div>

    <div class="white-card">
    <a href="/profile/edit" class="btn btn-secondary mb-4"><i class="fas fa-user-cog"></i> Configuración</a>
        <h3 class="section-title"><i class="far fa-calendar-alt fa-sm blue"></i> Tus Reservas</h3>

        {{#if user.bookings}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código de Reserva</th>
                    <th scope="col">Detalles</th>                   
                    <th scope="col">¿Dónde?</th>                 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each user.bookings}}
                <tr>
                    <td>{{booking_ref}}</td>
                    <td>
                        <i class="far fa-calendar-check"></i> {{day}} <br>
                        <i class="far fa-clock"></i> {{time}} <br>
                        <i class="fas fa-users"></i> {{guests}} personas
                    </td>             
                    <td>{{property}}</td>
                    <td>
                        <a href="/booking/delete/{{booking_ref}}" class="btn btn-warning"><i class="far fa-trash-alt mr-2"></i>Cancelar reserva</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>Todavía no tienes reservas</p>
        {{/if}}

        <h3 class="section-title mt-4"><i class="fas fa-heart fa-sm blue"></i> Tus favoritos</h3>
        <p>Todavía no tienes favoritos</p>
    </div>
</div>

{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}