{{#if user}}
<div class="body-container">
<h3 class="section-title mdi mdi-account-circle">Edita tu perfil</h3>

    <div>
            <a href="/profile" class="btn-kokomo btn-kokomo-grey mr-3 mb-4"><i class="fas fa-arrow-left"></i> Volver a mi perfil</a>
            <a href="/profile/delete" class="btn-kokomo btn-kokomo-danger mb-4"><i class="fas fa-user-alt-slash"></i> Eliminar mi
                cuenta</a>
    </div>

           {{!-- info message will be added here --}}
            {{#if infoMessage}}
            <p class="info">{{infoMessage}}</p>
            {{/if}}

        <form action="/profile/editTelephone" method="POST">
            <input type="hidden" name="id" value="{{user._id}}">
            
             <div class="form-group">
                <label for="telephone" class="label active">Nuevo Teléfono</label>
                <input type="telephone" name="newTelephone" id="input-telephone" />
            </div>
            <button type="submit" class="btn-kokomo btn-kokomo-success">Cambiar teléfono</button>

            {{!-- error message will be added here --}}
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </form>
{{#unless user.googleID}}
        <form action="/profile/editPassword" method="POST">
            <input type="hidden" name="id" value="{{user._id}}">
            <div class="form-group">
                <label for="password">Contraseña actual</label>
                <input type="password" name="oldPassword" id="input-password" placeholder="********"
                    class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Nueva contraseña</label>
                <input type="password" name="newPassword" id="input-password" placeholder="********"
                    class="form-control" />
            </div>

            <button type="submit" class="btn-kokomo btn-kokomo-success">Cambiar contraseña</button>

            {{!-- error message will be added here --}}
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}


        </form>
{{/unless}}
    </div>
</div>

{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}