{{#if user}}
<div class="body-container">

    <h3 class="section-title mt-4"><i class="fas fa-heart fa-sm blue"></i> Tus favoritos</h3>
    {{#if user.favourites}}
    <div class="properties-group">
        {{#each user.favourites}}
        <a href="/property/{{_id}}">
            <div class="property-card">
                <span class="fa-stack fa-2x float-right heart-home">
                    <i class="fas fa-circle fa-stack-2x orange-80"></i>
                    <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
                </span>
                <div>
                    <img src="{{mainImage}}" style="z-index: 1;">
                    <img src="{{mainImage}}" class="blur-image">

                </div>


                <h3>{{name}}</h3>
                <p class="mdi mdi-map-marker-radius"> {{location.name}}</p>
            </div>
        </a>
        {{/each}}
    </div>

    {{else}}
    <p>Todavía no tienes favoritos</p>
    {{/if}}
</div>
</div>



{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}