{{#if user}}
<div class="home-bg image-background" style="
    background-image: url(/images/water.jpg);">

    <div class="container-left">

        <h2 class="display-cream"><i class="fas fa-umbrella-beach fa-sm cream"></i><br> ¡Aloha, <br>{{user.username}}!
        </h2>
    </div>

    <div class="white-card">
        <div>
            <a href="/profile/edit" class="btn-kokomo btn-kokomo-grey mb-4 mt-5"><i class="fas fa-user-cog"></i>
                Configuración</a>
        </div>

        <h3 class="section-title"><i class="far fa-calendar-alt fa-sm blue"></i> Tus Reservas</h3>

        {{#if user.bookings}}
        {{#each user.bookings}}
        <div class="div-booking">
            <div>
                <p>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-square fa-stack-2x orange-20"></i>
                        <i class="far fa-calendar-check fa-stack-1x orange"></i>
                    </span>
                    {{day}}
                </p>
                <p>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-square fa-stack-2x orange-20"></i>
                        <i class="far fa-clock fa-stack-1x orange"></i>
                    </span>
                    {{time}} 
                </p>
                <p>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-square fa-stack-2x orange-20"></i>
                        <i class="fas fa-users fa-stack-1x orange"></i>
                    </span>
                    {{guests}} personas 
                </p>
                <p>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-square fa-stack-2x orange-20"></i>
                        <i class="fas fa-map-marker-alt fa-stack-1x orange"></i>
                    </span>
                    {{property}}
                </p>
            </div>
            <div>
                <p class="mb-4 text-right"><span class="booking-ref">{{booking_ref}}</span></p>
                
                <a href="/booking/delete/{{booking_ref}}" class="btn-kokomo btn-kokomo-grey float-right">Cancelar reserva</a>
            </div>
            
        </div>
        {{/each}}

        {{!-- <div class="table-bookings">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código de Reserva</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">¿Dónde?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user.bookings}}
                    <tr>
                        <td>{{booking_ref}}</td>
                        <td>
                            <i class="far fa-calendar-check"></i> {{day}} <br>
                            <i class="far fa-clock"></i> {{time}} <br>
                            <i class="fas fa-users"></i> {{guests}} personas
                        </td>
                        <td>{{property}}</td>
                        <td>
                            <a href="/booking/delete/{{booking_ref}}" class="btn btn-warning"><i
                                    class="far fa-trash-alt mr-2"></i>Cancelar reserva</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div> --}}
        {{else}}
        <p>Todavía no tienes reservas</p>
        {{/if}}

        <h3 class="section-title mt-4"><i class="fas fa-heart fa-sm blue"></i> Tus favoritos</h3>
        <p>Todavía no tienes favoritos</p>
    </div>
</div>

{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}