<div class="container">
    <h1>KOKOMO</h1>
    <p>Welcome to Kokomo</p>

    <h2>Chiringuitos</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categorías</th>
                <th scope="col">Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each properties}}
            <tr>
                <td>{{name}}</td>
                <td>{{categories}}</td>
                <td>{{location.name}}</td>
                <td> 
                    <a href="/local/{{_id}}"><i class="far fa-eye ml-4"></i></a> 
                    <a href="/local/{{_id}}/edit"><i class="far fa-edit ml-4"></i></a> 
                    <a href="/local/{{_id}}/delete"><i class="far fa-trash-alt ml-4"></i></a> 
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>