<div class="container">
    <h1>{{property.name}}</h1>
    <h2>{{property.location.name}}</h2>

    <p>Duración de la reserva: {{property.booking_duration}}</p>
    <p>Plazas disponibles: {{property.available_places}}</p>

    <form action="/local/{{property._id}}" method="POST">
        <input type="date" name="bookingDate" id="">
        <input type="submit" value="Ver disponibilidad">
    </form>

    <h2 class="mt-4 mb-4">Página de carga de las posibles reservas</h2>
    <div class="row">
        {{#each schedule}}
        <div class="col-auto mb-3">
            <form action="/booking/{{this._id}}" method="POST">
                <input type="hidden" name="propertyId" value="{{../property._id}}">
                <input type="hidden" name="day" value="{{this.day}}">
                <input type="submit" class="btn btn-primary" value="{{this.start_time}}">
            </form>

        </div>
        {{/each}}
    </div>



</div>