<div class="home-bg" style="
    background-image: url({{property.main_image}});
    background-size: 60vw;
    background-position: left center;
    background-repeat: no-repeat">
    <div class="container-left">

    </div>

    <div class="white-card">
        <div class="title-heart">
            <div>
                <span class="fa-stack fa-2x mr-4">
                    <i class="fas fa-circle fa-stack-2x orange"></i>
                    <i class="far fa-heart fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <h2 class="title-search">{{property.name}}</h2>
                <h3 class="subtitle-search mb-4">{{property.description}}</h3>
            </div>
        </div>


        <p><i class="fas fa-map-marker-alt"></i> {{property.location.name}}
        <p>

        <p>Duración de la reserva: {{property.booking_duration}}</p>
        <p>Plazas disponibles: {{property.available_places}}</p>

        <form action="/local/{{property._id}}" method="POST" class="mt-4">
                <input type="date" name="bookingDate"  data-date-format="DD MMMM YYYY" id="" class="kokomo-input">
                <input type="number" name="numberGuests" id="" min="0" class="kokomo-input">
                <input type="submit" value="Ver disponibilidad" class="kokomo-btn-form">
        </form>
    </div>
</div>