<div class="container">
    <h1>{{name}}</h1>
    <h2>{{location.name}}</h2>

    <p>Duración de la reserva: {{booking_duration}}</p>
    <p>Plazas disponibles: {{available_places}}</p>

    <form action="/local/{{_id}}" method="POST">
    <input type="date" name="bookingDate" id="">
    <input type="submit" value="Ver disponibilidad">
    </form>
</div>