<div class="home-bg" style="
    background-image: url({{main_image}});
    background-size: 60vw;
    background-position: left center;
    background-repeat: no-repeat">
    <div class="container-left">

    </div>

    <div class="white-card">
        <h2 class="title-search">{{name}}</h2>
        <h3 class="subtitle-search">{{description}}</h3>

        <h2>{{location.name}}</h2>

        <p>Duración de la reserva: {{booking_duration}}</p>
        <p>Plazas disponibles: {{available_places}}</p>

        <form action="/local/{{_id}}" method="POST">
            <input type="date" name="bookingDate" id="">
            <input type="submit" value="Ver disponibilidad">
        </form>
    </div>
</div>